<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Course</title>
</head>

<body>
    Your courses are there
    <span th:if="${courses.isEmpty()}">
        There's no courses
    </span>

    <!-- Formulaire -->
    <form action="/add-course" th:object="${course}" method="post">
        
        <input type="text" th:field="*{id}" placeholder="Enter the course's id..." th:errorclass="errorField">
        <input type="text" th:field="*{title}" placeholder="Enter the course's title...">
        <input type="number" th:field="*{credits}">
        <button type="submit">Add</button>
        <div>
            <span th:errors="*{id}"></span><br>
            <span th:errors="*{title}"></span><br>
            <span th:errors="*{credits}"></span>
        </div>
        
    </form>

    <table th:unless="${courses.isEmpty()}">
        <tr>
            <th>Acronym</th>
            <th>Title</th>
            <th>ECTS</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td>
                <a th:href="@{/details(id=${course.id})}" th:text="${course.id}"></a>
            </td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.credits}"></td>
        </tr>
    </table>


</body>

</html>