<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Course</title>
</head>

<body>
    Your courses are there
    <span th:if="${courses.isEmpty()}">
        There's no courses
    </span>
    <table th:unless="${courses.isEmpty()}">
        <tr>
            <th>Acronym</th>
            <th>Title</th>
            <th>ECTS</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td>
                <a th:href="@{/details(id=${course.id})}" th:text="${course.id}"></a>
            </td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.credits}"></td>
        </tr>
    </table>

</body>

</html>